@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUuhp.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/************************/
/*** Universal Styles ***/
/************************/

html {
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8125rem;
  color: hsla(0, 0%, 25%, 1);
  line-height: 1.3rem;
}

h1,
h2,
h3 {
  line-height: normal;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0.6rem 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

h3 {
  font-size: 1.125rem;
  font-weight: bold;
  margin: 0.4rem 0;
}

a {
  color: hsla(0, 0%, 50%, 1);
  text-decoration: none;
}

a:hover {
  font-weight: 700;
  transition-property: font-weight;
  transition-duration: 500ms;
}

a:visited {
  font-style: italic;
}

.test-container {
  /*** Responsive Notes ***/
  /* All elements; parent and child need to be fluid using max-width or width percentages. Margin 0 auto; comes in to play if the parent element isn't full screen and I want it's content centred. */
  max-width: 960px;
  margin: 0 auto;
}

.site-container {
  display: flex;
  justify-content: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  margin-top: 2rem;
}

/* Leaving a space in the class name in the index "banner container" allows you to separate the styles */
.container {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.featured-content {
  width: 60%;
  margin: 0 1.5rem;
}

.side-container {
  width: 40%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: hsla(0, 100%, 100%, 1);
  background-color: hsla(0, 0%, 25%, 1);
  padding: 0.667rem;
  border: none;
}

.button:hover {
  color: hsla(0, 0%, 15%, 1);
  background-color: hsla(0, 0%, 60%, 1);
  transition-property: color;
  transition-duration: 500ms;
  transition-property: background-color;
  transition-duration: 500ms;
}

.button:active {
  color: hsla(0, 0%, 15%, 1);
  background-color: hsla(0, 0%, 60%, 1);
  transition-property: color;
  transition-duration: 500ms;
  transition-property: background-color;
  transition-duration: 500ms;
}

.title {
  margin: 0 auto;
}

.title h2 {
  margin: 0;
}

@media only screen and (max-width: 740px) {

  h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.6rem 0;
  }

  h2 {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0.5rem 0;
  }

  h3 {
    font-size: 1.0625rem;
    font-weight: bold;
    margin: 0.4rem 0;
  }

}

@media only screen and (max-width: 635px) {

  .featured-content {
    width: 80%;
  }

  .side-container {
    width: 80%;
  }

  .banner.container .side-container .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    width: 100%;
  }

}

@media only screen and (max-width: 530px) {

  .main-content {
    margin-top: 4rem;
  }

  .featured-content {
    width: 100%;
  }

  .side-container {
    width: 95%;
  }

  .content {
    width: 95%;
  }

  .featured-content .content {
    margin: 0 auto;
  }

}

/*****************************/
/*** Header and Navigation ***/
/*****************************/

.header {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100%;
  height: 2rem;
  border-bottom: 1px solid hsla(0, 0%, 90%, 1);
  position: fixed;
  z-index: 1;
}

.header-container {
  display: flex;
  width: 960px;
}

.site-branding {
  display: inline-flex;
  align-items: center;
  margin-left: 1.5rem;
  /*margin auto in a flex container will stretch to fill the container */
  margin-right: auto;
  text-transform: uppercase;
}

.site-branding span {
  color: hsla(0, 0%, 65%, 1);
}

span.bold {
  font-weight: bold;
  color: hsla(0, 0%, 35%, 1);
  margin-right: 0.1rem;
}

.nav-icon {
  max-height: 2rem;
}

nav {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}

nav a {
  color: black;
}

nav li {
  display: inline-flex;
  align-items: center;
  margin-left: 1rem;
}

.mobile-nav {
  display: none;
}

@media only screen and (max-width: 530px) {

  .header {
    height: 4rem;
  }

  .site-branding {
    display: none;
  }

  nav {
    display: none;
  }

  .mobile-nav {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
  }

  .mobile-nav ul {
    display: inline-flex;
  }

  .mobile-nav li {
    margin: 0 1.5rem;
  }

}

/********************/
/*** Main Content ***/
/********************/
/************************************************/
/*** Top Banner Section - Learn Something New ***/
/************************************************/

.banner {
  background-color: hsla(0, 0%, 80%, 1);
}

/* This with site-container max-width: 100%, margin: 0 auto makes everything responsive */
.featured-content img {
  max-width: 100%;
  height: auto;
}

.banner .side-container {
  display: flex;
  align-items: center;
}

.banner .content {
  margin-right: 25%;
}

.banner p {
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 635px) {

  .banner.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }

}

@media only screen and (max-width: 530px) {

}

/***************************/
/*** Information Section ***/
/***************************/

.information.container {
  justify-content: flex-start;
}

.information .content h2 {
  margin: 2rem 0 1.5rem 0;
}

blockquote footer {
  margin-top: 1.5rem;
}

.info-container {
  display: inline-flex;
  align-items: center;
  max-width: 100%;
  border-bottom: 1px solid hsla(0, 0%, 90%, 1);
}

.first {
  border-top: 1px solid hsla(0, 0%, 90%, 1);
}

.info-featured {
  max-width: 30%;
  margin: 1rem;
}

.content-container {
  display: flex;
  align-items: center;
  max-width: 60%;
}

.info-container .content {
  max-width: 100%;
}

/** SEEEEE **/
.info-container img {
  max-width: 100%;
  height: auto;
}

a.read-more {
  display: block;
  margin: 0.4rem 0;
}

.mobile-img {
  display: none;
}

@media only screen and (max-width: 530px) {

  .information.container {
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid hsla(0, 0%, 90%, 1);
  }

  .info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: none;
  }

  .info-featured {
    max-width: 100%;
    margin: 1rem auto;
  }

  .content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .info-container .content {
    max-width: 100%;
  }

  .desktop-img {
    display: none;
  }

  .mobile-img {
    display: block;
  }

}

/***********************/
/*** Courses Section ***/
/***********************/

a.test-course:hover {
  background-color: hsla(230, 100%, 60%, 1)
}

.courses.container {
  display: flex;
  flex-direction: column;
  background-color: hsla(0, 0%, 95%, 1);
}

.courses.container .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem 4.5rem 0 4.5rem;
}

.course {
  max-width: 250px;
  color: hsla(0, 0%, 0%, 1);
  background-color: hsla(0, 0%, 100%, 1);
  margin-bottom: 1rem;
}

a.course:hover {
  font-weight: 400;
}

.course:hover img{
  opacity: 0.3;
  transition-property: opacity;
  transition-duration: 500ms;
}

.course-img {
  background-image: url("../images/start-learning.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.course img {
  max-width: 100%;
  height: auto;
}

.course .content {
  margin: 0 1.5rem 1.5rem 1.5rem;
}

@media only screen and (max-width: 920px) {

  .course {
    max-width: 45%;
    background-color: hsla(0, 0%, 100%, 1);
    margin-bottom: 1rem;
  }

}

@media only screen and (max-width: 635px) {

  .courses .container {
    justify-content: space-around;
    padding: 2rem 2rem 0 2rem;
  }

}

@media only screen and (max-width: 530px) {

  .courses.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    background-color: hsla(0, 0%, 100%, 1);
    border-bottom: 1px solid hsla(0, 0%, 90%, 1);
  }

  .courses.container .container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    max-width: 100%;
    padding: 2rem 1rem 0 1rem;
  }

  .course {
    display: flex;
    justify-content: center;
    max-width: 100%;
    background-color: hsla(0, 0%, 100%, 1);
    margin-bottom: 0.5rem;
  }

  .course .content:hover {
    color: hsla(0, 0%, 90%, 1);
    background-color: hsla(0, 0%, 60%, 1);
    transition-property: color;
    transition-duration: 500ms;
    transition-property: background-color;
    transition-duration: 500ms;
  }

  .course:active {
    color: hsla(0, 0%, 90%, 1);
    background-color: hsla(0, 0%, 60%, 1);
    transition-property: color;
    transition-duration: 500ms;
    transition-property: background-color;
    transition-duration: 500ms;
  }

  .course .content {
    margin: 0;
    padding: 1rem 2rem;
    background-color: hsla(0, 0%, 90%, 1);
  }

  .course img,
  .course .content span,
  .course .content p {
    display: none;
  }

}

/************************************/
/*** 4th Section - Thesis Exhibit ***/
/************************************/

.exhibit.container {
  justify-content: flex-start;
  flex-direction: column;
}

.exhibit video {
  max-width: 100%;
  height: auto;
}

.exhibit .featured-content h3 {
  margin: 1.5rem 0 0.5rem 0;
}

@media only screen and (max-width: 530px) {

  .exhibit.container .container {
    padding: 2rem 0 0 0;
  }

  .exhibit.container .side-container,
  .exhibit.container .featured-content .content {
    display: none;
  }

  .exhibit .featured-content {
    margin: 0 1rem;
  }

}

/**********************/
/*** Footer Section ***/
/**********************/

.footer {
  display: flex;
  justify-content: center;
  border-top: 1px solid hsla(0, 0%, 90%, 1);
}

.footer-container {
  display: flex;
  width: 960px;
  margin: 1rem 1.5rem;
}

.copyright {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.conditions {
  display: flex;
  align-items: center;
}

.conditions li {
  display: inline-flex;
  margin-left: 0.5rem;
}

@media only screen and (max-width: 530px) {
  .conditions {
    display: none;
  }
}
