@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUuhp.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*** Universal Styles ***/

html {
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8125rem;
  color: hsla(0, 0%, 25%, 1);
  line-height: 1.3rem;
}

h1,
h2,
h3 {
  line-height: normal;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0.6rem 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

h3 {
  font-size: 1.125rem;
  font-weight: bold;
  margin: 0.4rem 0;
}

.test-container {
  /*** Responsive Notes ***/
  /* All elements; parent and child need to be fluid using max-width or width percentages. Margin 0 auto; comes in to play if the parent element isn't full screen and I want it's content centred. */
  max-width: 960px;
  margin: 0 auto;
}

.site-container {
  display: flex;
  justify-content: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

/* Leaving a space in the class name in the index "banner container" allows you to separate the styles */
.container {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.featured-content {
  width: 60%;
  margin: 0 1.5rem;
}

.side-container {
  width: 40%;
}

button {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  color: hsla(0, 100%, 100%, 1);
  background-color: hsla(0, 0%, 25%, 1);
  padding: 0.667rem;
  border: none;
}

.title {
  margin: 0 auto;
}
/*** Header and Navigation ***/

.header {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100%;
  height: 2rem;
}

.header-container {
  display: flex;
  width: 960px;
}

.site-branding {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 1.5rem;
  /*margin auto in a flex container will stretch to fill the container */
  margin-right: auto;
  text-transform: uppercase;
}

.site-branding span {
  color: hsla(0, 0%, 65%, 1);
}

span.bold {
  font-weight: bold;
  color: hsla(0, 0%, 35%, 1);
  margin-right: 0.1rem;
}

.nav-icon {
  max-height: 2rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 1.5rem;
}

nav a {
  color: black;
  text-decoration: none;
}

nav li {
  display: inline-flex;
  margin-left: 1rem;
}


/*** Main Content ***/

/*** Top Banner Section - Learn Something New ***/

.banner {
  background-color: hsla(0, 0%, 80%, 1);
}

/* This with site-container max-width: 100%, margin: 0 auto makes everything responsive */
.featured-content img {
  max-width: 100%;
  height: auto;
}

.banner .side-container {
  display: flex;
  align-items: center;
}

.banner .content {
  margin-right: 25%;
}

.banner p {
  margin-bottom: 1.5rem;
}

/*** Information Section ***/

.information.container {
  justify-content: flex-start;
}

.information .content h2 {
  margin: 2rem 0 1.5rem 0;
}

blockquote footer {
  margin-top: 1.5rem;
}

.info-container {
  display: inline-flex;
  align-items: center;
  max-width: 100%;
  border-bottom: 1px solid hsla(0, 0%, 90%, 1);
}

.first {
  border-top: 1px solid hsla(0, 0%, 90%, 1);
}

.info-container .featured-content {
  max-width: 30%;
  margin: 1rem auto;
}

.content-container {
  display: flex;
  align-items: center;
  max-width: 60%;
}

.info-container .content {
  max-width: 100%;
}

/** SEEEEE **/
.info-container img {
  max-width: 100%;
  height: auto;
}

a.read-more {
  display: block;
  margin: 0.4rem 0;
  text-decoration: none;
}

/*** Courses Section ***/

.courses.container {
  display: flex;
  flex-direction: column;
  background-color: hsla(0, 0%, 95%, 1);
}

.courses .container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 3.5rem;
}

.course {
  max-width: 250px;
  background-color: hsla(0, 0%, 100%, 1);
  margin: 1rem;
}

.course img {
  max-width: 100%;
  height: auto;
}

.course .content {
  margin: 0 1.5rem 1.5rem 1.5rem;
}
